@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes jump {
  10%, 50% {
    transform: translate(-50%, -10%);
  }

  30% {
    transform: translate(-50%, -20%);
  }

  20%, 40%, 60% {
    transform: translate(-50%, 0);
  }
}


@keyframes hit {
  10%, 30%, 50% {
    transform: scale(1);
  }

  20%, 40% {
    transform: scale(0.95);
  }
}

@keyframes color {
  33% {
    fill: $color-neon-blue;
  }

  66% {
    fill: $color-torch-red;
  }

  100% {
    fill: $color-vivid-violet;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes arrrgh {
  10%, 30% {
    transform: rotateZ(-5deg);
  }

  20%, 40% {
    transform: rotateZ(5deg);
  }

  50% {
    transform: rotateZ(0);
  }
}
